In [27]:
import pytesseract
import PIL.Image
import cv2
import pandas as pd

In [43]:
myconfig = r'--psm 6 --oem 3'

def photo_to_txt(photo):
    text = pytesseract.image_to_string(PIL.Image.open(photo), config=myconfig)
    print(text)
    #a = PIL.Image.open(photo)
    return text

def txt_to_df(data_str):
    #Remove the blank lines of the str 
    txt_without_blank = "\n".join(data_str.split("\n\n"))   
    
    # Split the string by newline characters
    parts = txt_without_blank.split('\n')
    
    # Extract the required strings
    part1 = parts[parts.index('<')+1]  # 'AAPL - name of the stock'
    part2 = '\n'.join(parts[parts.index('Operation details')+1:parts.index('Operation details')+7])  # Amount, Shares, Market price, Clearing fee, Total, Date of purchase
    part3 = parts[parts.index('Operation details')+7]  # 'Completed- status'
    part4 = parts[parts.index('<')+2]  #Buy or sell
    
    lines = part2.split('\n')
    
    # Create a dictionary from the lines
    data_dict = {' '.join(line.split(' ')[0:-1]): ' '.join(line.split(' ')[-1:]) for line in lines if line!= lines[5]}  #line 5 Date of purchase
    data_dict[' '.join(lines[5].split(' ')[:3])] = ' '.join(lines[5].split(' ')[3:])
                                                       
    
    data_dict['Stock'] = part1 
    data_dict['Status'] = part3 
    data_dict['B_S'] = part4 
    
    return data_dict 

def dictionaty_to_df(dicti):
    df = pd.DataFrame(dicti, index=[0])
    # Print the DataFrame
    display(df)
    return df
    
text1 = photo_to_txt('photo3.jpg')
dict1 = txt_to_df(text1)
dictionaty_to_df(dict1)

9:18 ui Fe)
<
TSLA
Sell in shares

Operation details
Shares 1,00
Amount $216,38
Market price $216,38
Clearing fee $0,10
Total $216,28
Date of sale 22 Oct 2024 18:28
Completed

NM hapi Prime GetHapiPrime >

Your funds are on hold for one day by stock market rules.

Skip the wait with Hapi Prime and get acces to your money

instantly!

—Sa

,Shares,Amount,Market price,Clearing fee,Total,Date of sale,Stock,Status,B_S
0,"1,00","$216,38","$216,38","$0,10","$216,28",22 Oct 2024 18:28,TSLA,Completed,Sell in shares

,Shares,Amount,Market price,Clearing fee,Total,Date of sale,Stock,Status,B_S
0,"1,00","$216,38","$216,38","$0,10","$216,28",22 Oct 2024 18:28,TSLA,Completed,Sell in shares

In [7]:
import telebot

In [ ]:
bot = telebot.TeleBot('6714265770:AAGvwQVAu8f-KLDwfNwD3uiu1FwdW3fy9mQ')

@bot.message_handler(commands=['start'])
def main(message):
    bot.send_message(message.chat.id, 'Hola ')
    
@bot.message_handler(content_types=['photo'])
def handle_photo(message):
    photo = message.photo[-1]
    file_info = bot.get_file(photo.file_id)
    downloaded_file = bot.download_file(file_info.file_path)
    save_path = 'photo5.jpg'
    with open(save_path, 'wb') as new_file:
        new_file.write(downloaded_file)

    text10 = photo_to_txt('photo5.jpg')
    print(text10)
    dict1 = txt_to_df(text10)
    df = dictionaty_to_df(dict1)
    df.to_csv('prueba5.csv', index=False)
    bot.reply_to(message, 'Фотография сохранена.')
    bot.reply_to(message, str(dict1))
    

bot.polling(none_stop=True)

8:46 aul > @)
<
DOW
Buy in dollars

Operation details

Amount $200,00
Shares 3,90796
Market price $51,18
Clearing fee $0,15
Total $200,15
Date of purchase 24 Oct 2024 17:36
Completed

—Sa

8:46 aul > @)
<
DOW
Buy in dollars

Operation details

Amount $200,00
Shares 3,90796
Market price $51,18
Clearing fee $0,15
Total $200,15
Date of purchase 24 Oct 2024 17:36
Completed

—Sa

,Amount,Shares,Market price,Clearing fee,Total,Date of purchase,Stock,Status,B_S
0,"$200,00","3,90796","$51,18","$0,15","$200,15",24 Oct 2024 17:36,DOW,Completed,Buy in dollars

11:36 mm al Fo)
<
AMD
Buy in shares

Operation details

Shares 1,00
Amount $159,09
Market price $159,09
Clearing fee $0,10
Total $159,19
Date of purchase 15 Oct 2024 17:24
Completed

—Sa

11:36 mm al Fo)
<
AMD
Buy in shares

Operation details

Shares 1,00
Amount $159,09
Market price $159,09
Clearing fee $0,10
Total $159,19
Date of purchase 15 Oct 2024 17:24
Completed

—Sa

,Shares,Amount,Market price,Clearing fee,Total,Date of purchase,Stock,Status,B_S
0,"1,00","$159,09","$159,09","$0,10","$159,19",15 Oct 2024 17:24,AMD,Completed,Buy in shares

In [ ]:
downloaded_file

In [39]:
text1

'9:18 ui Fe)\n<\nTSLA\nSell in shares\n\nOperation details\nShares 1,00\nAmount $216,38\nMarket price $216,38\nClearing fee $0,10\nTotal $216,28\nDate of sale 22 Oct 2024 18:28\nCompleted\n\nNM hapi Prime GetHapiPrime >\n\nYour funds are on hold for one day by stock market rules.\n\nSkip the wait with Hapi Prime and get acces to your money\n\ninstantly!\n\n—Sa\n'

In [49]:
print(dict1.to,)

{'Shares': '1,00', 'Amount': '$216,38', 'Market price': '$216,38', 'Clearing fee': '$0,10', 'Total': '$216,28', 'Date of sale': '22 Oct 2024 18:28', 'Stock': 'TSLA', 'Status': 'Completed', 'B_S': 'Sell in shares'}